<div class="form-group">
    <div class="row">
        <button (click)="Generatexls()" class="btn btn-primary" style="margin: 5px;">Export To Xls</button>
        <button (click)="Generatepdf()" class="btn btn-primary">Export To PDF</button>
    </div>
</div>
{{message}}

<div id="ListContaint">
    <div *ngFor="let employee of employees">
        <app-display-employee [employee]="employee">
        </app-display-employee>
    </div>
</div>
<!-- <button (click)="nextEmployee()" class="btn btn-primary">
    Veiw Next Employee
</button>
<br/>
<br/>
<app-display-employee [employee]="employeeToDisplay" [employeeId]="employeeToDisplay.id" ></app-display-employee> -->