<!-- <div class="container">
  <!-- <nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
      <li>
        <a routerLink="Dashboard">Dashboard</a>
      </li>
      <li>
        <a routerLink="list">List</a>
      </li>
      <li>
        <a routerLink="create">Create</a>
      </li>
    </ul> -->
  <!-- </nav> --> 

  <div class="container-fluid" *ngIf="employee.isLogin;else other_content"> 
     <app-dashboard></app-dashboard>
  </div>
  <ng-template #other_content>
    <router-outlet></router-outlet>
  </ng-template>

<!-- </div> -->