<!-- <app-header></app-header> -->

<div class="wrapper">
  <div class="sidebar">
      <h2>Xap</h2>
      <ul>
          <li><a routerLink="/Dashboard"> <i class="fas fa-home"></i>Dashboard</a></li>
          <li><a routerLink="/create"> <i class="fas fa-user"></i>Register Employee</a></li>
          <li><a routerLink="/list"> <i class="fas fa-address-card"></i>Manage Employee</a></li>
          <li><a routerLink="/CreateDepartment"> <i class="fas fa-project-diagram"></i>Department</a></li>
          <li><a routerLink="/CreateEducation"> <i class="fas fa-project-diagram"></i>Education</a></li>
          <li (click)="logout()"><a><i class="fas fa-blog"></i>Logout</a></li>

      </ul> 
    
  </div>
  <div class="main_content"> 
     <div class="container" style="margin: 30px;" >
      <router-outlet></router-outlet>
    </div>    
  </div>
</div>


